@import 'mixins';
@import 'vars';
@import 'vendor/reset';

.paddings {
	padding: 100px 0;
	@include breakpoint(1200px) {
		padding: 50px 0;
	}
	@include breakpoint(768px) {
		padding: 40px 0;
	}
}

.constellation {
	--rotation: 0;
	position: relative;
}

.star {
	transform: rotate(calc(1deg * var(--rotation)));
	// position: absolute;
}

.big-star {
	transform: rotate(calc(0.3deg * var(--rotation)));
}

.small-star-1 {
	transform: rotate(calc(0.9deg * var(--rotation)));
}
.small-star-2 {
	transform: rotate(calc(1deg * var(--rotation)));
}

// .star:nth-child(1) {
// 	left: 0px;
// 	width: 42px;
// 	height: 42px;
// 	top: 0px;
// 	transform-origin: 0.5 0.5;
// }

// .star:nth-child(2) {
// 	bottom: 32px;
// 	left: 32px;
// }

// .star:nth-child(3) {
// 	bottom: 64px;
// 	right: 15px;
// }

.video {
	object-fit: fill;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	opacity: 0.8;
	bottom: -1px;
	// position: absolute;
	// top: 0;
	// left: 0;
	// right: 0;
	// bottom: 0;
	// z-index: 0;
	// width: 100%;
	// height: 100vh;
	// transform: translate(-50%, -50%);
	// opacity: 0.5;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-size: 22px;
}

body {
	font-family: 'Montserrat', 'Loos Wide', sans-serif;
	font-weight: 600;
	font-size: 22px;
	line-height: 27px;
	color: $white;

	background: #0f1217;

	overflow-x: hidden;

	&._lock {
		overflow: hidden;
	}
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;

	&:focus {
		outline: none;
	}
}

.h2 {
	font-family: 'Loos Wide';
	font-weight: 700;
	font-size: 54px;
	line-height: 80px;

	text-align: center;

	color: #fff;

	@include breakpoint(1200px) {
		font-size: 36px;
		line-height: 45px;
	}
	@include breakpoint(768px) {
		font-size: 28px;
		line-height: 36px;
	}
}

/* Blocks */
@import 'blocks/footer';
@import 'blocks/header';
@import 'blocks/container';
@import 'blocks/btn';
@import 'blocks/intro';
@import 'blocks/ready';
@import 'blocks/word';
@import 'blocks/tabs';
@import 'blocks/benefits';
// @import 'blocks/step';
@import 'blocks/digest';
@import 'blocks/brands';
@import 'blocks/press';
@import 'blocks/podcast';
@import 'blocks/idea';
@import 'blocks/stars';
@import 'blocks/glow';
@import 'blocks/help';
