.benefits {
	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		display: inline-block;
		position: relative;
		margin-bottom: 44px;

		@include breakpoint(1200px) {
			margin-bottom: 32px;
		}

		@include breakpoint(768px) {
			margin-bottom: 24px;
		}
	}

	&__title-stars {
		position: absolute;
		right: -90px;
		bottom: 50px;
		width: 55px;
		height: 43px;
		@include breakpoint(1200px) {
			width: 26px;
			height: 20px;
			right: -40px;
			bottom: 30px;
		}
	}
	&__title-stars svg:nth-child(1) {
		position: absolute;
		left: 0px;
		top: 0px;
		@include breakpoint(1200px) {
			width: 13px;
			height: 13px;
		}
	}
	&__title-stars svg:nth-child(2) {
		position: absolute;
		right: 0px;
		bottom: 0px;
		@include breakpoint(1200px) {
			width: 8px;
			height: 8px;
		}
	}

	&__list {
		margin: 0 auto;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
		gap: 30px;

		@include breakpoint(1200px) {
			gap: 27px;
		}
		@include breakpoint(768px) {
			max-width: 310px;
			gap: 28px;
		}
	}

	& .list {
		&__item {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&__item-block {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 160px;
			height: 160px;
			background: #121e28;
			border: 2px solid #2a3744;
			border-radius: 40px;

			margin-bottom: 16px;

			@include breakpoint(1200px) {
				width: 100px;
				height: 100px;
				border-radius: 24px;
				margin-bottom: 12px;
				& > svg {
					width: 40px;
					height: 40px;
				}
			}

			@include breakpoint(768px) {
				width: 84px;
				height: 84px;
				border-radius: 20px;

				& > svg {
					width: 36px;
					height: 36px;
				}
			}
		}
		&__item-block-1 svg {
			// animation: pulse 1500ms infinite;
			// border-radius: 50%;
			filter: drop-shadow(0px 0px 47px rgba(98, 126, 234, 0.3));
		}
		&__item-block-2 svg {
			filter: drop-shadow(0px 0px 47px rgba(130, 71, 229, 0.3));
		}
		&__item-block-3 svg {
			filter: drop-shadow(0px 4px 47px rgba(0, 140, 115, 0.3));
		}
		&__item-block-4 svg {
			filter: drop-shadow(0px 0px 47px rgba(255, 172, 50, 0.3));
		}
		&__item-block-5 svg {
			filter: drop-shadow(0px 0px 47px rgba(117, 184, 251, 0.3));
		}
		&__item-block-6 svg {
			filter: drop-shadow(0px 0px 47px rgba(32, 129, 226, 0.3));
		}
		&__item-block-1 {
			transition: all 0.3s ease;
			&:hover {
				background: rgba(119, 146, 248, 0.15);
				border: 2px solid rgba(119, 146, 248, 0.3);
			}
		}
		&__item-block-2 {
			transition: all 0.3s ease;
			&:hover {
				background: rgba(146, 89, 242, 0.15);
				border: 2px solid rgba(146, 89, 242, 0.3);
			}
		}
		&__item-block-3 {
			transition: all 0.3s ease;
			&:hover {
				background: rgba(0, 140, 115, 0.15);
				border: 2px solid rgba(0, 140, 115, 0.3);
			}
		}
		&__item-block-4 {
			transition: all 0.3s ease;
			&:hover {
				background: rgba(255, 195, 67, 0.15);
				border: 2px solid rgba(255, 195, 67, 0.3);
			}
		}
		&__item-block-5 {
			transition: all 0.3s ease;
			&:hover {
				background: rgba(133, 175, 253, 0.15);
				border: 2px solid rgba(133, 175, 253, 0.3);
			}
		}
		&__item-block-6 {
			transition: all 0.3s ease;
			&:hover {
				background: rgba(55, 147, 239, 0.15);
				border: 2px solid rgba(55, 147, 239, 0.3);
			}
		}

		&__title {
			font-weight: 500;
			@include breakpoint(1200px) {
				font-size: 14px;
				line-height: 24px;
			}

			@include breakpoint(768px) {
				font-size: 12px;
				line-height: 18px;
			}
		}
	}
}

// @keyframes pulse {
// 	0% {
// 		filter: drop-shadow(0px 0px 47px rgba(98, 126, 234, 0.3));
// 	}
// 	75% {
// 		filter: drop-shadow(0px 0px 47px rgba(98, 126, 234, 0.5));
// 	}
// }
