.btn {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 16px 48px;

	font-size: 20px;
	background: #ffcf01;
	box-shadow: 0px 9px 44px rgba(255, 207, 1, 0.2);
	border-radius: 16px;
	cursor: pointer;

	font-family: inherit;
	font-size: inherit;
	line-height: inherit;

	color: $bg;
	text-decoration: none;

	transition: all 0.2s linear;

	&:hover {
		opacity: 0.9;
		text-decoration: none;
	}

	&--give {
		padding: 11px 20px;

		font-weight: 700;
		font-size: 18px;
		line-height: 22px;

		color: $bg;

		background: #77e6ff;
		border-radius: 12px;
		box-shadow: unset;

		&:hover {
			background: #93ebff;
		}

		&:active {
			background: #23c9de;
		}
	}

	&--login {
		padding: 11px 20px;

		font-weight: 500;
		font-size: 18px;
		line-height: 22px;

		color: #ffffff;

		background: #28323d;
		border-radius: 12px;
		box-shadow: unset;

		&:hover {
			background: #35414e;
		}

		&:active {
			background: #1f2933;
		}
	}

	&--digest {
		padding: 16px 36px;

		font-weight: 600;
		font-size: 20px;
		line-height: 36px;

		color: #10151a;
		background: #ceaaff;
		box-shadow: unset;
	}

	&--idea {
		padding: 16px 20px;
	}
}
