.container {
	max-width: $container;
	margin: 0 auto;
	padding: 0 15px;
	@include breakpoint(1200px) {
		max-width: 992px;
	}
	@include breakpoint(768px) {
		max-width: 400px;
	}
}

.header .container {
	max-width: 1470px;
	@include breakpoint(1600px) {
		max-width: 1170px;
		margin: 0 auto;
		padding: 0 15px;
	}
}
.footer .container {
	max-width: 1470px;
	@include breakpoint(1600px) {
		max-width: 1170px;
		margin: 0 auto;
		padding: 0 15px;
	}
}
