.footer {
	padding: 56px 0;
	background: #171e25;

	@include breakpoint(1200px) {
		padding: 36px 0;
	}
	@include breakpoint(768px) {
		padding: 32px 0;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include breakpoint(768px) {
			flex-direction: column;
			gap: 32px;
		}
	}

	&__logo img {
		@include breakpoint(768px) {
			width: 127px;
			height: 21.1px;
		}
	}

	&__list {
		display: flex;
		align-items: center;
		gap: 36px;

		@include breakpoint(1200px) {
			gap: 16px;
		}

		& .nav__link {
			padding: 10px;

			font-size: 22px;
			line-height: 27px;

			letter-spacing: -0.01em;

			color: #fff;
			transition: all 0.3s ease;

			@include breakpoint(1200px) {
				font-size: 18px;
			}
			@include breakpoint(768px) {
				font-size: 14px;
				line-height: 17px;
			}
			&:hover {
				color: #ffc803;
			}
		}
	}

	&__social {
		display: flex;
		align-items: center;

		gap: 20px;

		@include breakpoint(1200px) {
			gap: 12px;
		}
		@include breakpoint(768px) {
			gap: 20px;
		}

		.social__link {
			width: 56px;
			height: 56px;
			border-radius: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: all 0.3s ease;

			@include breakpoint(1200px) {
				width: 44px;
				height: 44px;
			}
			@include breakpoint(768px) {
				width: 40px;
				height: 40px;
			}
		}
		.social__link svg {
			@include breakpoint(1200px) {
				width: 24px;
				height: 24px;
			}
		}
		.social__link-1 {
			background: rgba(119, 230, 255, 0.15);
			&:hover {
				background: rgba(119, 230, 255, 0.25);
			}
			&:active {
				background: rgba(119, 230, 255, 0.1);
			}
		}
		.social__link-2 {
			background: rgba(119, 149, 255, 0.15);
			&:hover {
				background: rgba(119, 149, 255, 0.25);
			}
			&:active {
				background: rgba(119, 149, 255, 0.1);
			}
		}
		.social__link-3 {
			background: rgba(247, 135, 135, 0.15);
			&:hover {
				background: rgba(247, 135, 135, 0.25);
			}
			&:active {
				background: rgba(247, 135, 135, 0.1);
			}
		}
		.social__link-4 {
			background: rgba(146, 119, 255, 0.15);
			&:hover {
				background: rgba(146, 119, 255, 0.25);
			}
			&:active {
				background: rgba(146, 119, 255, 0.1);
			}
		}
	}
}

footer .header__li-dropdown {
	bottom: 60px;
	left: auto;
	right: -20px;
	@include breakpoint(1200px) {
		transform: scale(0.8);
		bottom: 40px;
	}
	@include breakpoint(768px) {
		right: -45px;
		transform: scale(0.7);
		bottom: 30px;
	}
}
footer .header__li-item {
	font-weight: 600;
	font-size: 22px;
	line-height: 27px;

	@include breakpoint(1200px) {
		font-size: 18px;
		line-height: 22px;
	}
	@include breakpoint(768px) {
		font-size: 14px;
		line-height: 17px;
	}
}
