.intro {
  &__inner {
    height: calc(100vh - 104px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    @include breakpoint(768px) {
      max-width: 320px;
      margin: 0 auto;
    }
  }

  &__title {
    max-width: 600px;

    font-family: 'Loos Wide';
    font-weight: 700;
    font-size: 62px;
    line-height: 78px;
    letter-spacing: 1px;

    margin-bottom: 36px;

    color: #ffffff;

    @include breakpoint(992px) {
      max-width: 440px;

      font-size: 42px;
      line-height: 53px;

      margin-bottom: 26px;
    }
    @include breakpoint(768px) {
      font-size: 32px;
      line-height: 41px;

      margin-bottom: 24px;
    }
  }

  &__text {
    max-width: 720px;

    font-weight: 500;
    font-size: 28px;
    line-height: 47px;

    color: #ffffff;

    @include breakpoint(992px) {
      font-size: 22px;
      line-height: 32px;
    }
    @include breakpoint(768px) {
      max-width: 270px;

      font-size: 18px;
      line-height: 28px;
    }
  }

  &__btn {
    margin-top: 48px;

    font-size: 20px;
    line-height: 36px;

    @include breakpoint(992px) {
      padding: 13px 38px;

      margin-top: 38px;

      font-size: 17px;
      line-height: 30px;

      border-radius: 12px;
      box-shadow: 0px 7px 36px rgba(255, 207, 1, 0.2);
    }
    @include breakpoint(768px) {
      padding: 8px 28px;

      margin-top: 32px;

      font-size: 15px;
    }
  }
}
