.podcast {
  

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 16px;

    @include breakpoint(768px) {
      margin-bottom: 24px;
    }
  }

  &__title {
    @include breakpoint(768px) {
      margin: 0 auto;
    }
  }

  &__link {
    position: relative;
    padding-right: 36px;

    font-weight: 700;
    font-size: 22px;
    line-height: 40px;

    color: #8395a7;
    text-shadow: 0px 2px 25px rgba(0, 0, 0, 0.6);

    &--mobile,
    &-wrapper {
      display: none;
    }

    @include breakpoint(768px) {
      display: none;

      &-wrapper {
        display: block;
        margin: 40px auto 0;
        text-align: center;
      }

      &--mobile {
        display: inline-block;
      }
    }

    &::after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      content: '';

      width: 24px;
      height: 7px;

      background: url('../images/arrows/arrow--yellow.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__list {
    display: flex;
    gap: 28px;

    @include breakpoint(992px) {
      gap: 20px;
    }
    @include breakpoint(768px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 16px;
    }

    & .list {
      &__wrapper {
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding: 30px;

        @include breakpoint(992px) {
          padding: 24px 20px 20px 20px;
        }
      }

      &__item {
        max-width: 361px;

        background: #171e25;
        border: 2px solid #2a3744;
        backdrop-filter: blur(4px);

        border-radius: 20px;

        transition: all 0.3s linear;

        @include breakpoint(992px) {
          width: 100%;
        }
        @include breakpoint(768px) {
          max-width: 400px;
        }

        &:hover {
          background: #1f2730;
          backdrop-filter: unset;
        }

        &:active {
          background: #10151a;
        }
      }

      &__block {
        margin-bottom: 28px;
      }

      &__img {
        margin-bottom: 21px;
      }

      &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;

        color: #ffffff;

        margin-bottom: 12px;

        @include breakpoint(992px) {
          font-size: 17px;
          line-height: 24px;
        }
      }

      &__name {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;

        color: #e2e2e2;
        opacity: 0.8;

        margin-bottom: 4px;
      }

      &__span {
        display: block;

        font-weight: 600;
        font-size: 18px;
        line-height: 25px;

        color: #e2e2e2;
        opacity: 0.8;
      }

      &__name,
      &__span {
        @include breakpoint(992px) {
          font-size: 14px;
          line-height: 24px;
        }
      }

      &__link {
        position: relative;

        max-width: 250px;
        width: fit-content;

        font-weight: 700;
        font-size: 16px;
        line-height: 20px;

        color: #ffffff;

        @include breakpoint(992px) {
          font-size: 12px;
          line-height: 15px;
        }

        &::after {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -40px;
          content: '';

          width: 24px;
          height: 20px;

          background: url('../images/arrows/arrow--white.svg');
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
  }
}
