.stars {
	display: flex;
	justify-content: center;
	align-items: center;
	&__stars {
		position: relative;
		margin: auto;
		width: 77px;
		height: 88px;
		@include breakpoint(1200px) {
			transform: scale(0.7);
		}
	}
	&__stars svg:nth-child(1) {
		position: absolute;
		left: 0px;
		top: 0px;
	}
	&__stars svg:nth-child(2) {
		position: absolute;
		right: 0px;
		top: 25px;
	}
	&__stars svg:nth-child(3) {
		position: absolute;
		left: 30px;
		bottom: 0px;
	}
}
