.step {
  

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    max-width: 890px;
    text-align: center;

    margin-bottom: 82px;
  }

  &__span {
    font-family: 'Loos Wide';
    font-weight: 700;
    font-size: 48px;
    line-height: 74px;

    text-align: center;
    color: #37424d;

    transition: all 0.3s linear;

    &.active {
      color: $purple-light;
    }
  }

  &__content {
    padding: 45px;

    display: none;
    flex-wrap: wrap;
    gap: 40px;

    background: #121e28;
    border: 1px solid #2a3744;
    border-radius: 32px;

    opacity: 0;
    transition: all 0.3s linear;

    &.active {
      display: flex;
      opacity: 1;
    }
  }
}
