.tabs {
	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		display: inline-block;

		position: relative;
		margin-bottom: 32px;

		@include breakpoint(1200px) {
			margin-bottom: 32px;
		}
		@include breakpoint(768px) {
			margin-bottom: 25px;
		}
		@include breakpoint(440px) {
			max-width: 260px;
		}
	}

	&__title-stars {
		position: absolute;
		width: 66px;
		height: 53px;
		left: -51px;
		top: -40px;

		@include breakpoint(1200px) {
			transform: scale(0.7);
		}
		@include breakpoint(768px) {
			transform: scale(0.5);
		}
	}

	&__title-stars svg:nth-child(1) {
		position: absolute;
		top: 0;
		right: 0;
	}

	&__title-stars svg:nth-child(2) {
		position: absolute;
		left: 0;
		bottom: 0;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 0px;

		margin-bottom: 36px;

		@include breakpoint(1200px) {
			margin-bottom: 28px;

			// gap: 12px 27px;
		}
		@include breakpoint(768px) {
			gap: 0;
			max-width: 350px;
			margin-right: auto;
			margin-left: auto;
		}
		@include breakpoint(380px) {
			gap: 0 7.5px;
		}
	}

	&__item {
		font-size: 22px;
		line-height: 40px;
		padding: 10px 20px;

		cursor: pointer;

		color: #8395a7;
		transition: all 0.3s linear;
		font-weight: 500;

		&.active,
		&:hover {
			color: $yellow;
		}

		@include breakpoint(1200px) {
			font-size: 16px;
			line-height: 28px;
			padding: 10px 13.5px;
		}
		@include breakpoint(768px) {
			font-size: 14px;
			line-height: 16px;
			padding: 6px 8px;
		}
		@include breakpoint(380px) {
			padding: 6px 0px;
		}
	}
	&__item:nth-child(1) {
		padding-left: 0;
	}
	&__item:nth-child(10) {
		padding-right: 0;
	}

	// &__item:nth-child(1) {
	// 	@include breakpoint(420px) {
	// 		padding: 6px 8px 6px 0;
	// 	}
	// }
	// &__item:nth-child(3) {
	// 	@include breakpoint(420px) {
	// 		padding: 6px 0px 6px 0;
	// 	}
	// }
	// &__item:nth-child(10) {
	// 	@include breakpoint(420px) {
	// 		padding: 6px 0px 6px 8px;
	// 	}
	// }

	&__content {
		& .content__item.active {
			& img {
				display: block;
				opacity: 1;
				visibility: visible;
				max-width: 1000px;
				margin: 0 auto;
				@include breakpoint(1200px) {
					max-width: 657px;
				}
			}
		}

		& img {
			width: 100%;

			display: none;
			opacity: 0;
			visibility: hidden;

			border-radius: 17px;

			transition: all 0.3s linear;
			animation: fadein 1.5s;

			@include breakpoint(1200px) {
				border-radius: 10px;
			}
			@include breakpoint(768px) {
				border-radius: 8px;
			}
			@include breakpoint(440px) {
				border-radius: 6.5px;
			}
		}
	}

	&__dot {
		display: none;

		@include breakpoint(768px) {
			width: 3px;
			height: 3px;
			border-radius: 50%;
			background: #8395a7;
			opacity: 0.6;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		@include breakpoint(420px) {
			width: 2px;
			height: 2px;
		}
	}

	&__buttons {
		margin-top: 44px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 32px;

		@include breakpoint(1200px) {
			margin-top: 32px;
			gap: 20px;
		}
		@include breakpoint(768px) {
			gap: 12px;
			max-width: 200px;
			flex-wrap: wrap;
			margin: 0 auto;
			margin-top: 24px;
		}
	}
	&__button:nth-child(1) {
		font-family: 'Montserrat';

		font-weight: 700;
		font-size: 20px;
		line-height: 36px;

		color: #ffcf01;

		width: 280px;
		height: 68px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 16px;
		background: rgba(255, 207, 1, 0.15);
		border-radius: 16px;

		transition: all 0.3s ease;

		&:hover {
			background: rgba(255, 207, 1, 0.2);
		}
		&:active {
			background: rgba(255, 207, 1, 0.1);
		}

		@include breakpoint(1200px) {
			width: 240px;
			height: 56px;
			font-size: 17px;
			line-height: 36px;
			border-radius: 12px;
			gap: 15.5px;
		}
		@include breakpoint(768px) {
			width: 190px;
			height: 44px;
			font-size: 15px;
			line-height: 36px;
			border-radius: 8px;
			gap: 11px;
		}
	}
	&__button:nth-child(2) {
		font-family: 'Montserrat';

		font-weight: 700;
		font-size: 20px;
		line-height: 36px;

		color: #4be1f4;

		width: 280px;
		height: 68px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 16px;
		background: rgba(75, 225, 244, 0.15);
		border-radius: 16px;

		transition: all 0.3s ease;

		&:hover {
			background: rgba(75, 225, 244, 0.2);
		}
		&:active {
			background: rgba(75, 225, 244, 0.1);
		}

		@include breakpoint(1200px) {
			width: 240px;
			height: 56px;
			font-size: 17px;
			line-height: 36px;
			border-radius: 12px;
			gap: 15.5px;
		}
		@include breakpoint(768px) {
			width: 190px;
			height: 44px;
			font-size: 15px;
			line-height: 36px;
			border-radius: 8px;
			gap: 11px;
		}
	}

	&__button-svg {
		@include breakpoint(1200px) {
			width: 21px;
		}
		@include breakpoint(768px) {
			width: 18px;
		}
	}

	&__btn {
		position: relative;

		padding: 22px 48px;
		margin-top: 40px;

		font-size: 24px;
		line-height: 36px;

		color: $yellow;
		text-shadow: 0px 2px 25px rgba(0, 0, 0, 0.6);

		background: #252b36;
		border-radius: 16px;
		box-shadow: unset;

		transition: all 0.3s linear;

		&:hover {
			background: #2f3643;
		}

		&:active {
			background: #1f252f;
		}

		& svg {
			margin-left: 20px;

			@include breakpoint(1200px) {
				margin-left: 16px;
			}
			@include breakpoint(768px) {
				margin-left: 12px;
			}
		}

		@include breakpoint(1200px) {
			padding: 8px 20px;

			margin-top: 24px;

			font-size: 18px;

			border-radius: 12px;
		}
		@include breakpoint(768px) {
			margin-top: 20px;

			font-size: 14px;
			line-height: 28px;

			border-radius: 8px;
		}
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
