<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="" class="header__logo">
        <img src="assets/images/logo.svg" alt="logo" />
      </a>

      <nav class="header__nav">
        <ul class="header__list">
          <li class="list__item"><a href="" class="nav__link">Product</a></li>
          <li class="list__item"><a href="" class="nav__link">Use cases</a></li>
          <li class="list__item"><a href="" class="nav__link">Learn</a></li>
          <li class="list__item"><a href="" class="nav__link">About</a></li>
          <li class="list__item"><a href="" class="nav__link">Careers</a></li>
        </ul>
      </nav>

      <div class="header__btns">
        <a href="" class="header__btn btn btn--give">Giveaway</a>
        <a href="" class="header__btn btn btn--login">Login</a>
      </div>
    </div>
    <!-- header__inner -->
  </div>
  <!-- container -->
</header>
<!-- header -->
