<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
	rel="shortcut icon"
	href="assets/images/logo-fav.png"
	type="image/x-icon"
/>
<link rel="stylesheet" href="assets/css/style.min.css" />

<!-- Fonts -->
<style type="text/css">
	@font-face {
		font-family: 'Loos Wide';
		src: url('assets/fonts/Loos Latin, Cyrillic Wide-Bold-Web.eot');
		src: url('assets/fonts/Loos Latin, Cyrillic Wide-Bold-Web.eot#iefix')
				format('embedded-opentype'),
			url('assets/fonts/Loos Latin, Cyrillic Wide-Bold-Web.woff2')
				format('woff2'),
			url('assets/fonts/Loos Latin, Cyrillic Wide-Bold-Web.woff') format('woff'),
			url('assets/fonts/Loos Latin, Cyrillic Wide-Bold-Web.ttf')
				format('truetype');

		font-weight: 700;
		font-style: normal;
	}
</style>

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
	rel="stylesheet"
/>

<meta content="Superdao · The easiest way to start a DAO" property="og:title" />
<meta
	property="og:description"
	content="An all-in-one DAO formation platform to start, manage and grow a DAO."
/>
<meta property="og:image" content="assets/images/SSI.png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

<!-- <link rel="stylesheet" href="assets/fonts/stylesheet.css" /> -->

<!-- Useful meta tags -->
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta
	name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
<meta name="robots" content="index, follow" />
<meta name="google" content="notranslate" />
<meta name="format-detection" content="telephone=no" />
<meta name="description" content="" />

<title>{{ title }}</title>
